html, body {
    height: 100%;
}

body {
    padding: 15px;
}

.glyphicon-text {
    padding-right: 6px;
}

.glyphicon-small {
    font-size: 10px;
}

/* devices */
table.devices {
    font-size: 14px;
    font-family: monospace;
    table-layout: fixed;
}

table.devices td:nth-child(1) {
    width: 12em;
}

table.devices td:nth-child(2) {
    width: 10em;
}

table.devices td:nth-child(4), table.devices td:nth-child(5) {
    width: 8em;
}

table.devices td:nth-child(6) {
    width: 9em;
}

table.devices .inactive {
    opacity: 0.3;
}

table.devices .offline {
    opacity: 0.5;
}

.pannel-summary {
    font-size: 2.4em;
}

.pannel-summary-multi {
    font-size: 1.6em;
}

#total-rx, #total-tx {
    font-size: 0.5em;
}

.darker {
    opacity: 0.3;
}

/* badge extended */
.badge-danger {
    background-color: #B90B00;
    color: #FFFFFF;
}

.badge-warning {
    background-color: #01A972;
    color: #FFFFFF;
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}
